    <section class="blog-post">
        <h2>Blog Title</h2>
        <h6>Posted by blogger today</h6>
        <p> 
        Blog Post: This a blog post! This a blog post!This a blog post!This a blog post!This a blog post!
        This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!
        This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!
        This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!
        </p>
    </section>

    <section class="blog-post">
        <h2>Blog Title 2</h2>
        <h6>Posted by blogger yesterday</h6>
        <p> 
        Blog Post: This a blog post! This a blog post!This a blog post!This a blog post!This a blog post!
        This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!
        This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!
        This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!This a blog post!
        </p>
    </section>