<h1>Dashboard!</h1>
<h1>New Blog Post</h1>
<form>
  <label for="new-title">Title:</label><br>
  <input type="text" id="new-title" name="title"><br>
  <label for="new-content">Content:</label><br>
  <input type="text" id="new-content" name="content">
  <input type="submit" value="Submit">
</form>
<div id="dashboard-section"></div>
<script src="js/dash.js"></script>
