    <div id="content-section">
        {{#each postData}}
    <h1>{{this.title}}</h1>
    <h1>{{this.content}}</h1>
    <h1>{{this.user.username}} Wrote this!</h1>
{{/each}}
    </div>
    {{!-- <script src="js/content.js"></script> --}}