<form class="login-form">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password">
  <input type="submit" value="Submit">
</form>
<script src="js/login-logout.js"></script>