<form>
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email">
  <label for="password">New Password:</label><br>
  <input type="text" id="password" name="password">
  <label for="confirm-password">Confirm Password:</label><br>
  <input type="text" id="confirm-password" name="confirm-password">
  <input type="submit" value="Submit">
</form>