<h1>If you already have an account, please click the login link to login.
  If not, fill out this form to create an account.
</h1>

<form>
  <label for="username">Username:</label><br>
  <input type="text" id="new-username" name="username"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="new-email" name="email">
  <label for="password">New Password:</label><br>
  <input type="text" id="new-password" name="password">
  <input type="submit" value="Submit">
</form>
<script src="js/signup.js"></script>